<label class="{{labelClass}}" for="{{id}}">{{labelText}}</label>
<input class="{{inputClass}}" placeholder="{{placeholder}}" id="{{id}}" name="{{name}}" type="{{inputType}}" value="{{value}}" {{#if disabled}}disabled{{/if}}></input>
