<div class='profile'>
  <div class='profile-sidebar'>
    {{{linkBack}}}
  </div>
  <div class='profile-wrapper'>
    <button class='profile-wrapper__avatar profile-avatar'>
      <span class='profile-avatar__text'>Поменять аватар</span>
      <img src='{{avatar}}' alt='Аватар' class='profile-avatar__image' />
    </button>
    <h2 class='profile-wrapper__name'>{{name}}</h2>
    {{{form}}}
    <div class='profile-wrapper__actions'>
      <div class='profile-wrapper__button'>
        {{{changeUserInfoBtn}}}
      </div>
      <div class='profile-wrapper__button'>
        {{{changePasswordBtn}}}
      </div>
      <div class='profile-wrapper__button'>
        {{{link}}}
      </div>
    </div>
  </div>
</div>
