<div class='profile'>
  <div class='profile-sidebar'>
    {{{linkBack}}}
  </div>
  <div class='profile-wrapper'>

    {{{avatar}}}

    {{{form}}}

    <div class='profile-wrapper__actions'>
      <div class='profile-wrapper__button'>
        {{{changeUserInfoLink}}}
      </div>
      <div class='profile-wrapper__button'>
        {{{changePasswordLink}}}
      </div>
      <div class='profile-wrapper__button'>
        {{{exitBtn}}}
      </div>
    </div>
  </div>
</div>
