<div class='page'>
  <div class='chat'>
    <div class='chat-left'>
      <div class='chat-left__profile'>{{{link}}}</div>

      {{{addChatsBtn}}}

      <div class='chat-left__search'>
        <label class='chat-left__label' for='search'></label>
        <input
          class='chat-left__input'
          type='text'
          name='search'
          id='search'
          placeholder='Поиск'
        />
      </div>

      {{{chatsList}}}
    </div>
    {{{messenger}}}
  </div>
  {{{chatModal}}}
</div>
