<form class='profile-wrapper__fields'>
  {{{emailField}}}
  {{{loginField}}}
  {{{nameField}}}
  {{{secondNameField}}}
  {{{displayNameField}}}
  {{{phoneField}}}

  {{{oldPassword}}}
  {{{newPassword}}}
  {{{newPasswordTwo}}}

  {{{saveBtn}}}
</form>
